{% extends 'blog/base.html' %}
{% load static %}



{% block conteudo %}
    {% if posts.autor%}

        <h5 class="post-title">
        post feito por: {{ posts.autor }}

        </h5>


    {% endif %}

    {% if posts.titulo%}
        <div class = " col-md-11 mx-auto">
            <h2 class = "post-title">
                {{ posts.titulo }}

            </h2>

        </div>

    {% endif %}

    {% if posts.texto%}
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-11 mx-auto">
                        {{ posts.texto }}

                    </div>
                </div>

            </div>
        </article>




    {% endif %}


  </div>
{% endblock %}